# Versiones de los contenedores
PHP_VERSION=8.2
ALPINE_VERSION=3.19
MARIADB_VERSION=10.11
REDIS_VERSION=7.2
PHPMYADMIN_VERSION=latest
PHPREDISADMIN_VERSION=latest
NGINX_VERSION=mainline
HTTPS_PORTAL_VERSION=1

# Variables de configuración
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=reto3
MYSQL_USER=root
MYSQL_PASSWORD=

# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=reto3

# Sitios web
HTTPS_PORTAL_SITES=blog.test -> http://nginx:80, phpmyadmin.blog.test -> http://phpmyadmin:80,
HTTPS_PORTAL_STAGE=local
