#imagenLogo{
    width: 250px;
    height: auto;
}

#imagenCerrarSesion {
    width: 20px;  /* Reducido proporcionalmente */
    height: 20px; /* Mantener igual que el width */
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
}

.contenedor-botones {
    display: flex;
    gap: 10px;
}
